@import 'tailwindcss/dist/base.css';
@import 'tailwindcss/dist/components.css';
@import 'tailwindcss/dist/utilities.css';

body{
    
}


#app{
    
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.container{
    width: 28%;
    margin: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 5px;
}


.container:hover{
    background-color: rgba(56, 110, 211, 0.5);
    box-shadow:0 .5px 1px 0 #686767;
}

 .imgAg {
    border-radius: 50px;
    width:70px;
}

@media (max-width: 600px){

    #app{
        width: 90%;
    }

    .container {
        width: 40%;
        margin: 5px;
    }
}